In [1]:
import pandas as pd
from sqlalchemy import create_engine, types
import cx_Oracle as oci

In [ ]:
id = ""
pw = ""
ip = ""
port = "1521"
dbName = ""
#DB커넥션 열기 
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName) )
#근무지 -> DS_GNMUJI
#부서 -> DS_BUSEO
#사원 -> DS_SAWON
#직급 -> DS_JIKKB
indata = pd.read_csv("", encoding="ms949")
tableName = ""

In [ ]:
indata.to_sql(name = tableName,
              con = engine,
              if_exists="replace",
              dtype = typeDict,
              index = False)